### Importing the Libraries

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Loading the dataset

In [38]:
df = pd.read_csv('/kaggle/input/mall-customers/Mall_Customers.csv')

# getting only the first 10 rows.
x = df.head(10)
print(x)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

## Segmentation Process

### Segmenting via Gender(male-female)

In [39]:
male_dir ={}
female_dir = {}

for index, row in df.iterrows():
    
    # we first specify which column we are working with
    c1 = row['Genre']
    
    # we check if the gender is male or female
    if c1 == 'Male': # here it's male, so we append the data into the male dir
        if 'Male' not in male_dir:
            male_dir['Male'] = []
        male_dir['Male'].append(row)
        
    elif c1 == 'Female': # here female, so it get's appended to the female dir
        if 'Female' not in female_dir:
            female_dir['Female'] = []
        female_dir['Female'].append(row)

In [40]:
for group, data in male_dir.items():
    print(f"Data: {group}")
    for row in data:
        print(row)

Data: Male
CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object
CustomerID                   2
Genre                     Male
Age                         21
Annual Income (k$)          15
Spending Score (1-100)      81
Name: 1, dtype: object
CustomerID                   9
Genre                     Male
Age                         64
Annual Income (k$)          19
Spending Score (1-100)       3
Name: 8, dtype: object
CustomerID                  11
Genre                     Male
Age                         67
Annual Income (k$)          19
Spending Score (1-100)      14
Name: 10, dtype: object
CustomerID                  15
Genre                     Male
Age                         37
Annual Income (k$)          20
Spending Score (1-100)      13
Name: 14, dtype: object
CustomerID                  16
Genre                     Male
Age                         22
Annual Income (k$)          20
Spending Score (1-100)      79
Name: 15, dtype: object
CustomerID                  18
Genre                     Male
Age                         20
Annual Income (k$)          21
Spending Score (1-100)      66
Name: 17, dtype: object
CustomerID                  19
Genre                     Male
Age                         52
Annual Income (k$)          23
Spending Score (1-100)      29
Name: 18, dtype: object
CustomerID                  21
Genre                     Male
Age                         35
Annual Income (k$)          24
Spending Score (1-100)      35
Name: 20, dtype: object
CustomerID                  22
Genre                     Male
Age                         25
Annual Income (k$)          24
Spending Score (1-100)      73
Name: 21, dtype: object
CustomerID                  24
Genre                     Male
Age                         31
Annual Income (k$)          25
Spending Score (1-100)      73
Name: 23, dtype: object
CustomerID                  26
Genre                     Male
Age                         29
Annual Income (k$)          28
Spending Score (1-100)      82
Name: 25, dtype: object
CustomerID                  28
Genre                     Male
Age                         35
Annual Income (k$)          28
Spending Score (1-100)      61
Name: 27, dtype: object
CustomerID                  31
Genre                     Male
Age                         60
Annual Income (k$)          30
Spending Score (1-100)       4
Name: 30, dtype: object
CustomerID                  33
Genre                     Male
Age                         53
Annual Income (k$)          33
Spending Score (1-100)       4
Name: 32, dtype: object
CustomerID                  34
Genre                     Male
Age                         18
Annual Income (k$)          33
Spending Score (1-100)      92
Name: 33, dtype: object
CustomerID                  42
Genre                     Male
Age                         24
Annual Income (k$)          38
Spending Score (1-100)      92
Name: 41, dtype: object
CustomerID                  43
Genre                     Male
Age                         48
Annual Income (k$)          39
Spending Score (1-100)      36
Name: 42, dtype: object
CustomerID                  52
Genre                     Male
Age                         33
Annual Income (k$)          42
Spending Score (1-100)      60
Name: 51, dtype: object
CustomerID                  54
Genre                     Male
Age                         59
Annual Income (k$)          43
Spending Score (1-100)      60
Name: 53, dtype: object
CustomerID                  56
Genre                     Male
Age                         47
Annual Income (k$)          43
Spending Score (1-100)      41
Name: 55, dtype: object
CustomerID                  58
Genre                     Male
Age                         69
Annual Income (k$)          44
Spending Score (1-100)      46
Name: 57, dtype: object
CustomerID                  60
Genre                     Male
Age                         53
Annual Income (k$)          46
Spending Score (1-100)      46
Name: 59, dtype: object
CustomerID                  61
Genre                     Male
Age                         70
Annual Income (k$)          46
Spending Score (1-100)      56
Name: 60, dtype: object
CustomerID                  62
Genre                     Male
Age                         19
Annual Income (k$)          46
Spending Score (1-100)      55
Name: 61, dtype: object
CustomerID                  65
Genre                     Male
Age                         63
Annual Income (k$)          48
Spending Score (1-100)      51
Name: 64, dtype: object
CustomerID                  66
Genre                     Male
Age                         18
Annual Income (k$)          48
Spending Score (1-100)      59
Name: 65, dtype: object
CustomerID                  69
Genre                     Male
Age                         19
Annual Income (k$)          48
Spending Score (1-100)      59
Name: 68, dtype: object
CustomerID                  71
Genre                     Male
Age                         70
Annual Income (k$)          49
Spending Score (1-100)      55
Name: 70, dtype: object
CustomerID                  75
Genre                     Male
Age                         59
Annual Income (k$)          54
Spending Score (1-100)      47
Name: 74, dtype: object
CustomerID                  76
Genre                     Male
Age                         26
Annual Income (k$)          54
Spending Score (1-100)      54
Name: 75, dtype: object
CustomerID                  78
Genre                     Male
Age                         40
Annual Income (k$)          54
Spending Score (1-100)      48
Name: 77, dtype: object
CustomerID                  81
Genre                     Male
Age                         57
Annual Income (k$)          54
Spending Score (1-100)      51
Name: 80, dtype: object
CustomerID                  82
Genre                     Male
Age                         38
Annual Income (k$)          54
Spending Score (1-100)      55
Name: 81, dtype: object
CustomerID                  83
Genre                     Male
Age                         67
Annual Income (k$)          54
Spending Score (1-100)      41
Name: 82, dtype: object
CustomerID                  86
Genre                     Male
Age                         48
Annual Income (k$)          54
Spending Score (1-100)      46
Name: 85, dtype: object
CustomerID                  92
Genre                     Male
Age                         18
Annual Income (k$)          59
Spending Score (1-100)      41
Name: 91, dtype: object
CustomerID                  93
Genre                     Male
Age                         48
Annual Income (k$)          60
Spending Score (1-100)      49
Name: 92, dtype: object
CustomerID                  96
Genre                     Male
Age                         24
Annual Income (k$)          60
Spending Score (1-100)      52
Name: 95, dtype: object
CustomerID                  99
Genre                     Male
Age                         48
Annual Income (k$)          61
Spending Score (1-100)      42
Name: 98, dtype: object
CustomerID                 100
Genre                     Male
Age                         20
Annual Income (k$)          61
Spending Score (1-100)      49
Name: 99, dtype: object
CustomerID                 103
Genre                     Male
Age                         67
Annual Income (k$)          62
Spending Score (1-100)      59
Name: 102, dtype: object
CustomerID                 104
Genre                     Male
Age                         26
Annual Income (k$)          62
Spending Score (1-100)      55
Name: 103, dtype: object
CustomerID                 105
Genre                     Male
Age                         49
Annual Income (k$)          62
Spending Score (1-100)      56
Name: 104, dtype: object
CustomerID                 108
Genre                     Male
Age                         54
Annual Income (k$)          63
Spending Score (1-100)      46
Name: 107, dtype: object
CustomerID                 109
Genre                     Male
Age                         68
Annual Income (k$)          63
Spending Score (1-100)      43
Name: 108, dtype: object
CustomerID                 110
Genre                     Male
Age                         66
Annual Income (k$)          63
Spending Score (1-100)      48
Name: 109, dtype: object
CustomerID                 111
Genre                     Male
Age                         65
Annual Income (k$)          63
Spending Score (1-100)      52
Name: 110, dtype: object
CustomerID                 114
Genre                     Male
Age                         19
Annual Income (k$)          64
Spending Score (1-100)      46
Name: 113, dtype: object
CustomerID                 121
Genre                     Male
Age                         27
Annual Income (k$)          67
Spending Score (1-100)      56
Name: 120, dtype: object
CustomerID                 124
Genre                     Male
Age                         39
Annual Income (k$)          69
Spending Score (1-100)      91
Name: 123, dtype: object
CustomerID                 127
Genre                     Male
Age                         43
Annual Income (k$)          71
Spending Score (1-100)      35
Name: 126, dtype: object
CustomerID                 128
Genre                     Male
Age                         40
Annual Income (k$)          71
Spending Score (1-100)      95
Name: 127, dtype: object
CustomerID                 129
Genre                     Male
Age                         59
Annual Income (k$)          71
Spending Score (1-100)      11
Name: 128, dtype: object
CustomerID                 130
Genre                     Male
Age                         38
Annual Income (k$)          71
Spending Score (1-100)      75
Name: 129, dtype: object
CustomerID                 131
Genre                     Male
Age                         47
Annual Income (k$)          71
Spending Score (1-100)       9
Name: 130, dtype: object
CustomerID                 132
Genre                     Male
Age                         39
Annual Income (k$)          71
Spending Score (1-100)      75
Name: 131, dtype: object
CustomerID                 135
Genre                     Male
Age                         20
Annual Income (k$)          73
Spending Score (1-100)       5
Name: 134, dtype: object
CustomerID                 138
Genre                     Male
Age                         32
Annual Income (k$)          73
Spending Score (1-100)      73
Name: 137, dtype: object
CustomerID                 139
Genre                     Male
Age                         19
Annual Income (k$)          74
Spending Score (1-100)      10
Name: 138, dtype: object
CustomerID                 142
Genre                     Male
Age                         32
Annual Income (k$)          75
Spending Score (1-100)      93
Name: 141, dtype: object
CustomerID                 145
Genre                     Male
Age                         25
Annual Income (k$)          77
Spending Score (1-100)      12
Name: 144, dtype: object
CustomerID                 146
Genre                     Male
Age                         28
Annual Income (k$)          77
Spending Score (1-100)      97
Name: 145, dtype: object
CustomerID                 147
Genre                     Male
Age                         48
Annual Income (k$)          77
Spending Score (1-100)      36
Name: 146, dtype: object
CustomerID                 150
Genre                     Male
Age                         34
Annual Income (k$)          78
Spending Score (1-100)      90
Name: 149, dtype: object
CustomerID                 151
Genre                     Male
Age                         43
Annual Income (k$)          78
Spending Score (1-100)      17
Name: 150, dtype: object
CustomerID                 152
Genre                     Male
Age                         39
Annual Income (k$)          78
Spending Score (1-100)      88
Name: 151, dtype: object
CustomerID                 157
Genre                     Male
Age                         37
Annual Income (k$)          78
Spending Score (1-100)       1
Name: 156, dtype: object
CustomerID                 159
Genre                     Male
Age                         34
Annual Income (k$)          78
Spending Score (1-100)       1
Name: 158, dtype: object
CustomerID                 163
Genre                     Male
Age                         19
Annual Income (k$)          81
Spending Score (1-100)       5
Name: 162, dtype: object
CustomerID                 165
Genre                     Male
Age                         50
Annual Income (k$)          85
Spending Score (1-100)      26
Name: 164, dtype: object
CustomerID                 167
Genre                     Male
Age                         42
Annual Income (k$)          86
Spending Score (1-100)      20
Name: 166, dtype: object
CustomerID                 170
Genre                     Male
Age                         32
Annual Income (k$)          87
Spending Score (1-100)      63
Name: 169, dtype: object
CustomerID                 171
Genre                     Male
Age                         40
Annual Income (k$)          87
Spending Score (1-100)      13
Name: 170, dtype: object
CustomerID                 172
Genre                     Male
Age                         28
Annual Income (k$)          87
Spending Score (1-100)      75
Name: 171, dtype: object
CustomerID                 173
Genre                     Male
Age                         36
Annual Income (k$)          87
Spending Score (1-100)      10
Name: 172, dtype: object
CustomerID                 174
Genre                     Male
Age                         36
Annual Income (k$)          87
Spending Score (1-100)      92
Name: 173, dtype: object
CustomerID                 177
Genre                     Male
Age                         58
Annual Income (k$)          88
Spending Score (1-100)      15
Name: 176, dtype: object
CustomerID                 178
Genre                     Male
Age                         27
Annual Income (k$)          88
Spending Score (1-100)      69
Name: 177, dtype: object
CustomerID                 179
Genre                     Male
Age                         59
Annual Income (k$)          93
Spending Score (1-100)      14
Name: 178, dtype: object
CustomerID                 180
Genre                     Male
Age                         35
Annual Income (k$)          93
Spending Score (1-100)      90
Name: 179, dtype: object
CustomerID                 183
Genre                     Male
Age                         46
Annual Income (k$)          98
Spending Score (1-100)      15
Name: 182, dtype: object
CustomerID                 186
Genre                     Male
Age                         30
Annual Income (k$)          99
Spending Score (1-100)      97
Name: 185, dtype: object
CustomerID                 188
Genre                     Male
Age                         28
Annual Income (k$)         101
Spending Score (1-100)      68
Name: 187, dtype: object
CustomerID                 193
Genre                     Male
Age                         33
Annual Income (k$)         113
Spending Score (1-100)       8
Name: 192, dtype: object
CustomerID                 198
Genre                     Male
Age                         32
Annual Income (k$)         126
Spending Score (1-100)      74
Name: 197, dtype: object
CustomerID                 199
Genre                     Male
Age                         32
Annual Income (k$)         137
Spending Score (1-100)      18
Name: 198, dtype: object
CustomerID                 200
Genre                     Male
Age                         30
Annual Income (k$)         137
Spending Score (1-100)      83
Name: 199, dtype: object

In [41]:
for group, data in female_dir.items():
    print(f"Data: {group}")
    for row in data:
        print(row)

Data: Female
CustomerID                     3
Genre                     Female
Age                           20
Annual Income (k$)            16
Spending Score (1-100)         6
Name: 2, dtype: object
CustomerID                     4
Genre                     Female
Age                           23
Annual Income (k$)            16
Spending Score (1-100)        77
Name: 3, dtype: object
CustomerID                     5
Genre                     Female
Age                           31
Annual Income (k$)            17
Spending Score (1-100)        40
Name: 4, dtype: object
CustomerID                     6
Genre                     Female
Age                           22
Annual Income (k$)            17
Spending Score (1-100)        76
Name: 5, dtype: object
CustomerID                     7
Genre                     Female
Age                           35
Annual Income (k$)            18
Spending Score (1-100)         6
Name: 6, dtype: object
CustomerID                     8
Genre                     Female
Age                           23
Annual Income (k$)            18
Spending Score (1-100)        94
Name: 7, dtype: object
CustomerID                    10
Genre                     Female
Age                           30
Annual Income (k$)            19
Spending Score (1-100)        72
Name: 9, dtype: object
CustomerID                    12
Genre                     Female
Age                           35
Annual Income (k$)            19
Spending Score (1-100)        99
Name: 11, dtype: object
CustomerID                    13
Genre                     Female
Age                           58
Annual Income (k$)            20
Spending Score (1-100)        15
Name: 12, dtype: object
CustomerID                    14
Genre                     Female
Age                           24
Annual Income (k$)            20
Spending Score (1-100)        77
Name: 13, dtype: object
CustomerID                    17
Genre                     Female
Age                           35
Annual Income (k$)            21
Spending Score (1-100)        35
Name: 16, dtype: object
CustomerID                    20
Genre                     Female
Age                           35
Annual Income (k$)            23
Spending Score (1-100)        98
Name: 19, dtype: object
CustomerID                    23
Genre                     Female
Age                           46
Annual Income (k$)            25
Spending Score (1-100)         5
Name: 22, dtype: object
CustomerID                    25
Genre                     Female
Age                           54
Annual Income (k$)            28
Spending Score (1-100)        14
Name: 24, dtype: object
CustomerID                    27
Genre                     Female
Age                           45
Annual Income (k$)            28
Spending Score (1-100)        32
Name: 26, dtype: object
CustomerID                    29
Genre                     Female
Age                           40
Annual Income (k$)            29
Spending Score (1-100)        31
Name: 28, dtype: object
CustomerID                    30
Genre                     Female
Age                           23
Annual Income (k$)            29
Spending Score (1-100)        87
Name: 29, dtype: object
CustomerID                    32
Genre                     Female
Age                           21
Annual Income (k$)            30
Spending Score (1-100)        73
Name: 31, dtype: object
CustomerID                    35
Genre                     Female
Age                           49
Annual Income (k$)            33
Spending Score (1-100)        14
Name: 34, dtype: object
CustomerID                    36
Genre                     Female
Age                           21
Annual Income (k$)            33
Spending Score (1-100)        81
Name: 35, dtype: object
CustomerID                    37
Genre                     Female
Age                           42
Annual Income (k$)            34
Spending Score (1-100)        17
Name: 36, dtype: object
CustomerID                    38
Genre                     Female
Age                           30
Annual Income (k$)            34
Spending Score (1-100)        73
Name: 37, dtype: object
CustomerID                    39
Genre                     Female
Age                           36
Annual Income (k$)            37
Spending Score (1-100)        26
Name: 38, dtype: object
CustomerID                    40
Genre                     Female
Age                           20
Annual Income (k$)            37
Spending Score (1-100)        75
Name: 39, dtype: object
CustomerID                    41
Genre                     Female
Age                           65
Annual Income (k$)            38
Spending Score (1-100)        35
Name: 40, dtype: object
CustomerID                    44
Genre                     Female
Age                           31
Annual Income (k$)            39
Spending Score (1-100)        61
Name: 43, dtype: object
CustomerID                    45
Genre                     Female
Age                           49
Annual Income (k$)            39
Spending Score (1-100)        28
Name: 44, dtype: object
CustomerID                    46
Genre                     Female
Age                           24
Annual Income (k$)            39
Spending Score (1-100)        65
Name: 45, dtype: object
CustomerID                    47
Genre                     Female
Age                           50
Annual Income (k$)            40
Spending Score (1-100)        55
Name: 46, dtype: object
CustomerID                    48
Genre                     Female
Age                           27
Annual Income (k$)            40
Spending Score (1-100)        47
Name: 47, dtype: object
CustomerID                    49
Genre                     Female
Age                           29
Annual Income (k$)            40
Spending Score (1-100)        42
Name: 48, dtype: object
CustomerID                    50
Genre                     Female
Age                           31
Annual Income (k$)            40
Spending Score (1-100)        42
Name: 49, dtype: object
CustomerID                    51
Genre                     Female
Age                           49
Annual Income (k$)            42
Spending Score (1-100)        52
Name: 50, dtype: object
CustomerID                    53
Genre                     Female
Age                           31
Annual Income (k$)            43
Spending Score (1-100)        54
Name: 52, dtype: object
CustomerID                    55
Genre                     Female
Age                           50
Annual Income (k$)            43
Spending Score (1-100)        45
Name: 54, dtype: object
CustomerID                    57
Genre                     Female
Age                           51
Annual Income (k$)            44
Spending Score (1-100)        50
Name: 56, dtype: object
CustomerID                    59
Genre                     Female
Age                           27
Annual Income (k$)            46
Spending Score (1-100)        51
Name: 58, dtype: object
CustomerID                    63
Genre                     Female
Age                           67
Annual Income (k$)            47
Spending Score (1-100)        52
Name: 62, dtype: object
CustomerID                    64
Genre                     Female
Age                           54
Annual Income (k$)            47
Spending Score (1-100)        59
Name: 63, dtype: object
CustomerID                    67
Genre                     Female
Age                           43
Annual Income (k$)            48
Spending Score (1-100)        50
Name: 66, dtype: object
CustomerID                    68
Genre                     Female
Age                           68
Annual Income (k$)            48
Spending Score (1-100)        48
Name: 67, dtype: object
CustomerID                    70
Genre                     Female
Age                           32
Annual Income (k$)            48
Spending Score (1-100)        47
Name: 69, dtype: object
CustomerID                    72
Genre                     Female
Age                           47
Annual Income (k$)            49
Spending Score (1-100)        42
Name: 71, dtype: object
CustomerID                    73
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        49
Name: 72, dtype: object
CustomerID                    74
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        56
Name: 73, dtype: object
CustomerID                    77
Genre                     Female
Age                           45
Annual Income (k$)            54
Spending Score (1-100)        53
Name: 76, dtype: object
CustomerID                    79
Genre                     Female
Age                           23
Annual Income (k$)            54
Spending Score (1-100)        52
Name: 78, dtype: object
CustomerID                    80
Genre                     Female
Age                           49
Annual Income (k$)            54
Spending Score (1-100)        42
Name: 79, dtype: object
CustomerID                    84
Genre                     Female
Age                           46
Annual Income (k$)            54
Spending Score (1-100)        44
Name: 83, dtype: object
CustomerID                    85
Genre                     Female
Age                           21
Annual Income (k$)            54
Spending Score (1-100)        57
Name: 84, dtype: object
CustomerID                    87
Genre                     Female
Age                           55
Annual Income (k$)            57
Spending Score (1-100)        58
Name: 86, dtype: object
CustomerID                    88
Genre                     Female
Age                           22
Annual Income (k$)            57
Spending Score (1-100)        55
Name: 87, dtype: object
CustomerID                    89
Genre                     Female
Age                           34
Annual Income (k$)            58
Spending Score (1-100)        60
Name: 88, dtype: object
CustomerID                    90
Genre                     Female
Age                           50
Annual Income (k$)            58
Spending Score (1-100)        46
Name: 89, dtype: object
CustomerID                    91
Genre                     Female
Age                           68
Annual Income (k$)            59
Spending Score (1-100)        55
Name: 90, dtype: object
CustomerID                    94
Genre                     Female
Age                           40
Annual Income (k$)            60
Spending Score (1-100)        40
Name: 93, dtype: object
CustomerID                    95
Genre                     Female
Age                           32
Annual Income (k$)            60
Spending Score (1-100)        42
Name: 94, dtype: object
CustomerID                    97
Genre                     Female
Age                           47
Annual Income (k$)            60
Spending Score (1-100)        47
Name: 96, dtype: object
CustomerID                    98
Genre                     Female
Age                           27
Annual Income (k$)            60
Spending Score (1-100)        50
Name: 97, dtype: object
CustomerID                   101
Genre                     Female
Age                           23
Annual Income (k$)            62
Spending Score (1-100)        41
Name: 100, dtype: object
CustomerID                   102
Genre                     Female
Age                           49
Annual Income (k$)            62
Spending Score (1-100)        48
Name: 101, dtype: object
CustomerID                   106
Genre                     Female
Age                           21
Annual Income (k$)            62
Spending Score (1-100)        42
Name: 105, dtype: object
CustomerID                   107
Genre                     Female
Age                           66
Annual Income (k$)            63
Spending Score (1-100)        50
Name: 106, dtype: object
CustomerID                   112
Genre                     Female
Age                           19
Annual Income (k$)            63
Spending Score (1-100)        54
Name: 111, dtype: object
CustomerID                   113
Genre                     Female
Age                           38
Annual Income (k$)            64
Spending Score (1-100)        42
Name: 112, dtype: object
CustomerID                   115
Genre                     Female
Age                           18
Annual Income (k$)            65
Spending Score (1-100)        48
Name: 114, dtype: object
CustomerID                   116
Genre                     Female
Age                           19
Annual Income (k$)            65
Spending Score (1-100)        50
Name: 115, dtype: object
CustomerID                   117
Genre                     Female
Age                           63
Annual Income (k$)            65
Spending Score (1-100)        43
Name: 116, dtype: object
CustomerID                   118
Genre                     Female
Age                           49
Annual Income (k$)            65
Spending Score (1-100)        59
Name: 117, dtype: object
CustomerID                   119
Genre                     Female
Age                           51
Annual Income (k$)            67
Spending Score (1-100)        43
Name: 118, dtype: object
CustomerID                   120
Genre                     Female
Age                           50
Annual Income (k$)            67
Spending Score (1-100)        57
Name: 119, dtype: object
CustomerID                   122
Genre                     Female
Age                           38
Annual Income (k$)            67
Spending Score (1-100)        40
Name: 121, dtype: object
CustomerID                   123
Genre                     Female
Age                           40
Annual Income (k$)            69
Spending Score (1-100)        58
Name: 122, dtype: object
CustomerID                   125
Genre                     Female
Age                           23
Annual Income (k$)            70
Spending Score (1-100)        29
Name: 124, dtype: object
CustomerID                   126
Genre                     Female
Age                           31
Annual Income (k$)            70
Spending Score (1-100)        77
Name: 125, dtype: object
CustomerID                   133
Genre                     Female
Age                           25
Annual Income (k$)            72
Spending Score (1-100)        34
Name: 132, dtype: object
CustomerID                   134
Genre                     Female
Age                           31
Annual Income (k$)            72
Spending Score (1-100)        71
Name: 133, dtype: object
CustomerID                   136
Genre                     Female
Age                           29
Annual Income (k$)            73
Spending Score (1-100)        88
Name: 135, dtype: object
CustomerID                   137
Genre                     Female
Age                           44
Annual Income (k$)            73
Spending Score (1-100)         7
Name: 136, dtype: object
CustomerID                   140
Genre                     Female
Age                           35
Annual Income (k$)            74
Spending Score (1-100)        72
Name: 139, dtype: object
CustomerID                   141
Genre                     Female
Age                           57
Annual Income (k$)            75
Spending Score (1-100)         5
Name: 140, dtype: object
CustomerID                   143
Genre                     Female
Age                           28
Annual Income (k$)            76
Spending Score (1-100)        40
Name: 142, dtype: object
CustomerID                   144
Genre                     Female
Age                           32
Annual Income (k$)            76
Spending Score (1-100)        87
Name: 143, dtype: object
CustomerID                   148
Genre                     Female
Age                           32
Annual Income (k$)            77
Spending Score (1-100)        74
Name: 147, dtype: object
CustomerID                   149
Genre                     Female
Age                           34
Annual Income (k$)            78
Spending Score (1-100)        22
Name: 148, dtype: object
CustomerID                   153
Genre                     Female
Age                           44
Annual Income (k$)            78
Spending Score (1-100)        20
Name: 152, dtype: object
CustomerID                   154
Genre                     Female
Age                           38
Annual Income (k$)            78
Spending Score (1-100)        76
Name: 153, dtype: object
CustomerID                   155
Genre                     Female
Age                           47
Annual Income (k$)            78
Spending Score (1-100)        16
Name: 154, dtype: object
CustomerID                   156
Genre                     Female
Age                           27
Annual Income (k$)            78
Spending Score (1-100)        89
Name: 155, dtype: object
CustomerID                   158
Genre                     Female
Age                           30
Annual Income (k$)            78
Spending Score (1-100)        78
Name: 157, dtype: object
CustomerID                   160
Genre                     Female
Age                           30
Annual Income (k$)            78
Spending Score (1-100)        73
Name: 159, dtype: object
CustomerID                   161
Genre                     Female
Age                           56
Annual Income (k$)            79
Spending Score (1-100)        35
Name: 160, dtype: object
CustomerID                   162
Genre                     Female
Age                           29
Annual Income (k$)            79
Spending Score (1-100)        83
Name: 161, dtype: object
CustomerID                   164
Genre                     Female
Age                           31
Annual Income (k$)            81
Spending Score (1-100)        93
Name: 163, dtype: object
CustomerID                   166
Genre                     Female
Age                           36
Annual Income (k$)            85
Spending Score (1-100)        75
Name: 165, dtype: object
CustomerID                   168
Genre                     Female
Age                           33
Annual Income (k$)            86
Spending Score (1-100)        95
Name: 167, dtype: object
CustomerID                   169
Genre                     Female
Age                           36
Annual Income (k$)            87
Spending Score (1-100)        27
Name: 168, dtype: object
CustomerID                   175
Genre                     Female
Age                           52
Annual Income (k$)            88
Spending Score (1-100)        13
Name: 174, dtype: object
CustomerID                   176
Genre                     Female
Age                           30
Annual Income (k$)            88
Spending Score (1-100)        86
Name: 175, dtype: object
CustomerID                   181
Genre                     Female
Age                           37
Annual Income (k$)            97
Spending Score (1-100)        32
Name: 180, dtype: object
CustomerID                   182
Genre                     Female
Age                           32
Annual Income (k$)            97
Spending Score (1-100)        86
Name: 181, dtype: object
CustomerID                   184
Genre                     Female
Age                           29
Annual Income (k$)            98
Spending Score (1-100)        88
Name: 183, dtype: object
CustomerID                   185
Genre                     Female
Age                           41
Annual Income (k$)            99
Spending Score (1-100)        39
Name: 184, dtype: object
CustomerID                   187
Genre                     Female
Age                           54
Annual Income (k$)           101
Spending Score (1-100)        24
Name: 186, dtype: object
CustomerID                   189
Genre                     Female
Age                           41
Annual Income (k$)           103
Spending Score (1-100)        17
Name: 188, dtype: object
CustomerID                   190
Genre                     Female
Age                           36

### Segmenting via Age

In [42]:
Teens_dir = {}
Adults_dir = {}
seniors_dir = {}

for index, row in df.iterrows():

    c1 = row['Age']
    
    if c1 <= 22: 
        if 'teen' not in Teens_dir:
            Teens_dir['teen'] = []
        Teens_dir['teen'].append(row)
        
    elif 23 <= c1 <= 49:
        if 'adults' not in Adults_dir:
            Adults_dir['adults'] = []
        Adults_dir['adults'].append(row)
    
    elif c1 >= 50: 
        if 'senior' not in senior_dir:
            senior_dir['senior'] = []
        senior_dir['senior'].append(row)

In [43]:
# for junior for age below 22
for group, data in Teens_dir.items():
    print(f"Data: {group}")
    for row in data:
        print(row, "\n")

Data: teen
CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object

CustomerID                   2
Genre                     Male
Age                         21
Annual Income (k$)          15
Spending Score (1-100)      81
Name: 1, dtype: object

CustomerID                     3
Genre                     Female
Age                           20
Annual Income (k$)            16
Spending Score (1-100)         6
Name: 2, dtype: object

CustomerID                     6
Genre                     Female
Age                           22
Annual Income (k$)            17
Spending Score (1-100)        76
Name: 5, dtype: object

CustomerID                  16
Genre                     Male
Age                         22
Annual Income (k$)          20
Spending Score (1-100)      79
Name: 15, dtype: object

CustomerID                  18
Genre                     Male
Age                         20
Annual Income (k$)          21
Spending Score (1-100)      66
Name: 17, dtype: object

CustomerID                    32
Genre                     Female
Age                           21
Annual Income (k$)            30
Spending Score (1-100)        73
Name: 31, dtype: object

CustomerID                  34
Genre                     Male
Age                         18
Annual Income (k$)          33
Spending Score (1-100)      92
Name: 33, dtype: object

CustomerID                    36
Genre                     Female
Age                           21
Annual Income (k$)            33
Spending Score (1-100)        81
Name: 35, dtype: object

CustomerID                    40
Genre                     Female
Age                           20
Annual Income (k$)            37
Spending Score (1-100)        75
Name: 39, dtype: object

CustomerID                  62
Genre                     Male
Age                         19
Annual Income (k$)          46
Spending Score (1-100)      55
Name: 61, dtype: object

CustomerID                  66
Genre                     Male
Age                         18
Annual Income (k$)          48
Spending Score (1-100)      59
Name: 65, dtype: object

CustomerID                  69
Genre                     Male
Age                         19
Annual Income (k$)          48
Spending Score (1-100)      59
Name: 68, dtype: object

CustomerID                    85
Genre                     Female
Age                           21
Annual Income (k$)            54
Spending Score (1-100)        57
Name: 84, dtype: object

CustomerID                    88
Genre                     Female
Age                           22
Annual Income (k$)            57
Spending Score (1-100)        55
Name: 87, dtype: object

CustomerID                  92
Genre                     Male
Age                         18
Annual Income (k$)          59
Spending Score (1-100)      41
Name: 91, dtype: object

CustomerID                 100
Genre                     Male
Age                         20
Annual Income (k$)          61
Spending Score (1-100)      49
Name: 99, dtype: object

CustomerID                   106
Genre                     Female
Age                           21
Annual Income (k$)            62
Spending Score (1-100)        42
Name: 105, dtype: object

CustomerID                   112
Genre                     Female
Age                           19
Annual Income (k$)            63
Spending Score (1-100)        54
Name: 111, dtype: object

CustomerID                 114
Genre                     Male
Age                         19
Annual Income (k$)          64
Spending Score (1-100)      46
Name: 113, dtype: object

CustomerID                   115
Genre                     Female
Age                           18
Annual Income (k$)            65
Spending Score (1-100)        48
Name: 114, dtype: object

CustomerID                   116
Genre                     Female
Age                           19
Annual Income (k$)            65
Spending Score (1-100)        50
Name: 115, dtype: object

CustomerID                 135
Genre                     Male
Age                         20
Annual Income (k$)          73
Spending Score (1-100)       5
Name: 134, dtype: object

CustomerID                 139
Genre                     Male
Age                         19
Annual Income (k$)          74
Spending Score (1-100)      10
Name: 138, dtype: object

CustomerID                 163
Genre                     Male
Age                         19
Annual Income (k$)          81
Spending Score (1-100)       5
Name: 162, dtype: object

In [44]:
# for normal employee of age between 23-49
for group, data in Adults_dir.items():
    print(f"Data: {group}")
    for row in data:
        print(row)

Data: adults
CustomerID                     4
Genre                     Female
Age                           23
Annual Income (k$)            16
Spending Score (1-100)        77
Name: 3, dtype: object
CustomerID                     5
Genre                     Female
Age                           31
Annual Income (k$)            17
Spending Score (1-100)        40
Name: 4, dtype: object
CustomerID                     7
Genre                     Female
Age                           35
Annual Income (k$)            18
Spending Score (1-100)         6
Name: 6, dtype: object
CustomerID                     8
Genre                     Female
Age                           23
Annual Income (k$)            18
Spending Score (1-100)        94
Name: 7, dtype: object
CustomerID                    10
Genre                     Female
Age                           30
Annual Income (k$)            19
Spending Score (1-100)        72
Name: 9, dtype: object
CustomerID                    12
Genre                     Female
Age                           35
Annual Income (k$)            19
Spending Score (1-100)        99
Name: 11, dtype: object
CustomerID                    14
Genre                     Female
Age                           24
Annual Income (k$)            20
Spending Score (1-100)        77
Name: 13, dtype: object
CustomerID                  15
Genre                     Male
Age                         37
Annual Income (k$)          20
Spending Score (1-100)      13
Name: 14, dtype: object
CustomerID                    17
Genre                     Female
Age                           35
Annual Income (k$)            21
Spending Score (1-100)        35
Name: 16, dtype: object
CustomerID                    20
Genre                     Female
Age                           35
Annual Income (k$)            23
Spending Score (1-100)        98
Name: 19, dtype: object
CustomerID                  21
Genre                     Male
Age                         35
Annual Income (k$)          24
Spending Score (1-100)      35
Name: 20, dtype: object
CustomerID                  22
Genre                     Male
Age                         25
Annual Income (k$)          24
Spending Score (1-100)      73
Name: 21, dtype: object
CustomerID                    23
Genre                     Female
Age                           46
Annual Income (k$)            25
Spending Score (1-100)         5
Name: 22, dtype: object
CustomerID                  24
Genre                     Male
Age                         31
Annual Income (k$)          25
Spending Score (1-100)      73
Name: 23, dtype: object
CustomerID                  26
Genre                     Male
Age                         29
Annual Income (k$)          28
Spending Score (1-100)      82
Name: 25, dtype: object
CustomerID                    27
Genre                     Female
Age                           45
Annual Income (k$)            28
Spending Score (1-100)        32
Name: 26, dtype: object
CustomerID                  28
Genre                     Male
Age                         35
Annual Income (k$)          28
Spending Score (1-100)      61
Name: 27, dtype: object
CustomerID                    29
Genre                     Female
Age                           40
Annual Income (k$)            29
Spending Score (1-100)        31
Name: 28, dtype: object
CustomerID                    30
Genre                     Female
Age                           23
Annual Income (k$)            29
Spending Score (1-100)        87
Name: 29, dtype: object
CustomerID                    35
Genre                     Female
Age                           49
Annual Income (k$)            33
Spending Score (1-100)        14
Name: 34, dtype: object
CustomerID                    37
Genre                     Female
Age                           42
Annual Income (k$)            34
Spending Score (1-100)        17
Name: 36, dtype: object
CustomerID                    38
Genre                     Female
Age                           30
Annual Income (k$)            34
Spending Score (1-100)        73
Name: 37, dtype: object
CustomerID                    39
Genre                     Female
Age                           36
Annual Income (k$)            37
Spending Score (1-100)        26
Name: 38, dtype: object
CustomerID                  42
Genre                     Male
Age                         24
Annual Income (k$)          38
Spending Score (1-100)      92
Name: 41, dtype: object
CustomerID                  43
Genre                     Male
Age                         48
Annual Income (k$)          39
Spending Score (1-100)      36
Name: 42, dtype: object
CustomerID                    44
Genre                     Female
Age                           31
Annual Income (k$)            39
Spending Score (1-100)        61
Name: 43, dtype: object
CustomerID                    45
Genre                     Female
Age                           49
Annual Income (k$)            39
Spending Score (1-100)        28
Name: 44, dtype: object
CustomerID                    46
Genre                     Female
Age                           24
Annual Income (k$)            39
Spending Score (1-100)        65
Name: 45, dtype: object
CustomerID                    48
Genre                     Female
Age                           27
Annual Income (k$)            40
Spending Score (1-100)        47
Name: 47, dtype: object
CustomerID                    49
Genre                     Female
Age                           29
Annual Income (k$)            40
Spending Score (1-100)        42
Name: 48, dtype: object
CustomerID                    50
Genre                     Female
Age                           31
Annual Income (k$)            40
Spending Score (1-100)        42
Name: 49, dtype: object
CustomerID                    51
Genre                     Female
Age                           49
Annual Income (k$)            42
Spending Score (1-100)        52
Name: 50, dtype: object
CustomerID                  52
Genre                     Male
Age                         33
Annual Income (k$)          42
Spending Score (1-100)      60
Name: 51, dtype: object
CustomerID                    53
Genre                     Female
Age                           31
Annual Income (k$)            43
Spending Score (1-100)        54
Name: 52, dtype: object
CustomerID                  56
Genre                     Male
Age                         47
Annual Income (k$)          43
Spending Score (1-100)      41
Name: 55, dtype: object
CustomerID                    59
Genre                     Female
Age                           27
Annual Income (k$)            46
Spending Score (1-100)        51
Name: 58, dtype: object
CustomerID                    67
Genre                     Female
Age                           43
Annual Income (k$)            48
Spending Score (1-100)        50
Name: 66, dtype: object
CustomerID                    70
Genre                     Female
Age                           32
Annual Income (k$)            48
Spending Score (1-100)        47
Name: 69, dtype: object
CustomerID                    72
Genre                     Female
Age                           47
Annual Income (k$)            49
Spending Score (1-100)        42
Name: 71, dtype: object
CustomerID                  76
Genre                     Male
Age                         26
Annual Income (k$)          54
Spending Score (1-100)      54
Name: 75, dtype: object
CustomerID                    77
Genre                     Female
Age                           45
Annual Income (k$)            54
Spending Score (1-100)        53
Name: 76, dtype: object
CustomerID                  78
Genre                     Male
Age                         40
Annual Income (k$)          54
Spending Score (1-100)      48
Name: 77, dtype: object
CustomerID                    79
Genre                     Female
Age                           23
Annual Income (k$)            54
Spending Score (1-100)        52
Name: 78, dtype: object
CustomerID                    80
Genre                     Female
Age                           49
Annual Income (k$)            54
Spending Score (1-100)        42
Name: 79, dtype: object
CustomerID                  82
Genre                     Male
Age                         38
Annual Income (k$)          54
Spending Score (1-100)      55
Name: 81, dtype: object
CustomerID                    84
Genre                     Female
Age                           46
Annual Income (k$)            54
Spending Score (1-100)        44
Name: 83, dtype: object
CustomerID                  86
Genre                     Male
Age                         48
Annual Income (k$)          54
Spending Score (1-100)      46
Name: 85, dtype: object
CustomerID                    89
Genre                     Female
Age                           34
Annual Income (k$)            58
Spending Score (1-100)        60
Name: 88, dtype: object
CustomerID                  93
Genre                     Male
Age                         48
Annual Income (k$)          60
Spending Score (1-100)      49
Name: 92, dtype: object
CustomerID                    94
Genre                     Female
Age                           40
Annual Income (k$)            60
Spending Score (1-100)        40
Name: 93, dtype: object
CustomerID                    95
Genre                     Female
Age                           32
Annual Income (k$)            60
Spending Score (1-100)        42
Name: 94, dtype: object
CustomerID                  96
Genre                     Male
Age                         24
Annual Income (k$)          60
Spending Score (1-100)      52
Name: 95, dtype: object
CustomerID                    97
Genre                     Female
Age                           47
Annual Income (k$)            60
Spending Score (1-100)        47
Name: 96, dtype: object
CustomerID                    98
Genre                     Female
Age                           27
Annual Income (k$)            60
Spending Score (1-100)        50
Name: 97, dtype: object
CustomerID                  99
Genre                     Male
Age                         48
Annual Income (k$)          61
Spending Score (1-100)      42
Name: 98, dtype: object
CustomerID                   101
Genre                     Female
Age                           23
Annual Income (k$)            62
Spending Score (1-100)        41
Name: 100, dtype: object
CustomerID                   102
Genre                     Female
Age                           49
Annual Income (k$)            62
Spending Score (1-100)        48
Name: 101, dtype: object
CustomerID                 104
Genre                     Male
Age                         26
Annual Income (k$)          62
Spending Score (1-100)      55
Name: 103, dtype: object
CustomerID                 105
Genre                     Male
Age                         49
Annual Income (k$)          62
Spending Score (1-100)      56
Name: 104, dtype: object
CustomerID                   113
Genre                     Female
Age                           38
Annual Income (k$)            64
Spending Score (1-100)        42
Name: 112, dtype: object
CustomerID                   118
Genre                     Female
Age                           49
Annual Income (k$)            65
Spending Score (1-100)        59
Name: 117, dtype: object
CustomerID                 121
Genre                     Male
Age                         27
Annual Income (k$)          67
Spending Score (1-100)      56
Name: 120, dtype: object
CustomerID                   122
Genre                     Female
Age                           38
Annual Income (k$)            67
Spending Score (1-100)        40
Name: 121, dtype: object
CustomerID                   123
Genre                     Female
Age                           40
Annual Income (k$)            69
Spending Score (1-100)        58
Name: 122, dtype: object
CustomerID                 124
Genre                     Male
Age                         39
Annual Income (k$)          69
Spending Score (1-100)      91
Name: 123, dtype: object
CustomerID                   125
Genre                     Female
Age                           23
Annual Income (k$)            70
Spending Score (1-100)        29
Name: 124, dtype: object
CustomerID                   126
Genre                     Female
Age                           31
Annual Income (k$)            70
Spending Score (1-100)        77
Name: 125, dtype: object
CustomerID                 127
Genre                     Male
Age                         43
Annual Income (k$)          71
Spending Score (1-100)      35
Name: 126, dtype: object
CustomerID                 128
Genre                     Male
Age                         40
Annual Income (k$)          71
Spending Score (1-100)      95
Name: 127, dtype: object
CustomerID                 130
Genre                     Male
Age                         38
Annual Income (k$)          71
Spending Score (1-100)      75
Name: 129, dtype: object
CustomerID                 131
Genre                     Male
Age                         47
Annual Income (k$)          71
Spending Score (1-100)       9
Name: 130, dtype: object
CustomerID                 132
Genre                     Male
Age                         39
Annual Income (k$)          71
Spending Score (1-100)      75
Name: 131, dtype: object
CustomerID                   133
Genre                     Female
Age                           25
Annual Income (k$)            72
Spending Score (1-100)        34
Name: 132, dtype: object
CustomerID                   134
Genre                     Female
Age                           31
Annual Income (k$)            72
Spending Score (1-100)        71
Name: 133, dtype: object
CustomerID                   136
Genre                     Female
Age                           29
Annual Income (k$)            73
Spending Score (1-100)        88
Name: 135, dtype: object
CustomerID                   137
Genre                     Female
Age                           44
Annual Income (k$)            73
Spending Score (1-100)         7
Name: 136, dtype: object
CustomerID                 138
Genre                     Male
Age                         32
Annual Income (k$)          73
Spending Score (1-100)      73
Name: 137, dtype: object
CustomerID                   140
Genre                     Female
Age                           35
Annual Income (k$)            74
Spending Score (1-100)        72
Name: 139, dtype: object
CustomerID                 142
Genre                     Male
Age                         32
Annual Income (k$)          75
Spending Score (1-100)      93
Name: 141, dtype: object
CustomerID                   143
Genre                     Female
Age                           28
Annual Income (k$)            76
Spending Score (1-100)        40
Name: 142, dtype: object
CustomerID                   144
Genre                     Female
Age                           32
Annual Income (k$)            76
Spending Score (1-100)        87
Name: 143, dtype: object
CustomerID                 145
Genre                     Male
Age                         25
Annual Income (k$)          77
Spending Score (1-100)      12
Name: 144, dtype: object
CustomerID                 146
Genre                     Male
Age                         28
Annual Income (k$)          77
Spending Score (1-100)      97
Name: 145, dtype: object
CustomerID                 147
Genre                     Male
Age                         48
Annual Income (k$)          77
Spending Score (1-100)      36
Name: 146, dtype: object
CustomerID                   148
Genre                     Female
Age                           32
Annual Income (k$)            77
Spending Score (1-100)        74
Name: 147, dtype: object
CustomerID                   149
Genre                     Female
Age                           34
Annual Income (k$)            78
Spending Score (1-100)        22
Name: 148, dtype: object
CustomerID                 150
Genre                     Male
Age                         34
Annual Income (k$)          78
Spending Score (1-100)      90
Name: 149, dtype: object
CustomerID                 151
Genre                     Male
Age                         43
Annual Income (k$)          78
Spending Score (1-100)      17
Name: 150, dtype: object
CustomerID                 152
Genre                     Male
Age                         39
Annual Income (k$)          78
Spending Score (1-100)      88
Name: 151, dtype: object
CustomerID                   153
Genre                     Female
Age                           44
Annual Income (k$)            78
Spending Score (1-100)        20
Name: 152, dtype: object
CustomerID                   154
Genre                     Female
Age                           38
Annual Income (k$)            78
Spending Score (1-100)        76
Name: 153, dtype: object
CustomerID                   155
Genre                     Female
Age                           47
Annual Income (k$)            78
Spending Score (1-100)        16
Name: 154, dtype: object
CustomerID                   156
Genre                     Female
Age                           27
Annual Income (k$)            78
Spending Score (1-100)        89
Name: 155, dtype: object
CustomerID                 157
Genre                     Male
Age                         37
Annual Income (k$)          78
Spending Score (1-100)       1
Name: 156, dtype: object
CustomerID                   158
Genre                     Female
Age                           30
Annual Income (k$)            78
Spending Score (1-100)        78
Name: 157, dtype: object
CustomerID                 159
Genre                     Male
Age                         34
Annual Income (k$)          78
Spending Score (1-100)       1
Name: 158, dtype: object
CustomerID                   160
Genre                     Female
Age                           30
Annual Income (k$)            78
Spending Score (1-100)        73
Name: 159, dtype: object
CustomerID                   162
Genre                     Female
Age                           29
Annual Income (k$)            79
Spending Score (1-100)        83
Name: 161, dtype: object
CustomerID                   164
Genre                     Female
Age                           31
Annual Income (k$)            81
Spending Score (1-100)        93
Name: 163, dtype: object
CustomerID                   166
Genre                     Female
Age                           36
Annual Income (k$)            85
Spending Score (1-100)        75
Name: 165, dtype: object
CustomerID                 167
Genre                     Male
Age                         42
Annual Income (k$)          86
Spending Score (1-100)      20
Name: 166, dtype: object
CustomerID                   168
Genre                     Female
Age                           33
Annual Income (k$)            86
Spending Score (1-100)        95
Name: 167, dtype: object
CustomerID                   169
Genre                     Female
Age                           36
Annual Income (k$)            87
Spending Score (1-100)        27
Name: 168, dtype: object
CustomerID                 170
Genre                     Male
Age                         32
Annual Income (k$)          87
Spending Score (1-100)      63
Name: 169, dtype: object
CustomerID                 171
Genre                     Male
Age                         40
Annual Income (k$)          87
Spending Score (1-100)      13
Name: 170, dtype: object
CustomerID                 172
Genre                     Male
Age                         28
Annual Income (k$)          87
Spending Score (1-100)      75
Name: 171, dtype: object
CustomerID                 173
Genre                     Male
Age                         36
Annual Income (k$)          87
Spending Score (1-100)      10
Name: 172, dtype: object
CustomerID                 174
Genre                     Male
Age                         36
Annual Income (k$)          87

In [45]:
#for senior of age above 50
for group, data in senior_dir.items():
    print(f"Data: {group}")
    for row in data:
        print(row)

Data: senior
CustomerID                   9
Genre                     Male
Age                         64
Annual Income (k$)          19
Spending Score (1-100)       3
Name: 8, dtype: object
CustomerID                  11
Genre                     Male
Age                         67
Annual Income (k$)          19
Spending Score (1-100)      14
Name: 10, dtype: object
CustomerID                    13
Genre                     Female
Age                           58
Annual Income (k$)            20
Spending Score (1-100)        15
Name: 12, dtype: object
CustomerID                  19
Genre                     Male
Age                         52
Annual Income (k$)          23
Spending Score (1-100)      29
Name: 18, dtype: object
CustomerID                    25
Genre                     Female
Age                           54
Annual Income (k$)            28
Spending Score (1-100)        14
Name: 24, dtype: object
CustomerID                  31
Genre                     Male
Age                         60
Annual Income (k$)          30
Spending Score (1-100)       4
Name: 30, dtype: object
CustomerID                  33
Genre                     Male
Age                         53
Annual Income (k$)          33
Spending Score (1-100)       4
Name: 32, dtype: object
CustomerID                    41
Genre                     Female
Age                           65
Annual Income (k$)            38
Spending Score (1-100)        35
Name: 40, dtype: object
CustomerID                    47
Genre                     Female
Age                           50
Annual Income (k$)            40
Spending Score (1-100)        55
Name: 46, dtype: object
CustomerID                  54
Genre                     Male
Age                         59
Annual Income (k$)          43
Spending Score (1-100)      60
Name: 53, dtype: object
CustomerID                    55
Genre                     Female
Age                           50
Annual Income (k$)            43
Spending Score (1-100)        45
Name: 54, dtype: object
CustomerID                    57
Genre                     Female
Age                           51
Annual Income (k$)            44
Spending Score (1-100)        50
Name: 56, dtype: object
CustomerID                  58
Genre                     Male
Age                         69
Annual Income (k$)          44
Spending Score (1-100)      46
Name: 57, dtype: object
CustomerID                  60
Genre                     Male
Age                         53
Annual Income (k$)          46
Spending Score (1-100)      46
Name: 59, dtype: object
CustomerID                  61
Genre                     Male
Age                         70
Annual Income (k$)          46
Spending Score (1-100)      56
Name: 60, dtype: object
CustomerID                    63
Genre                     Female
Age                           67
Annual Income (k$)            47
Spending Score (1-100)        52
Name: 62, dtype: object
CustomerID                    64
Genre                     Female
Age                           54
Annual Income (k$)            47
Spending Score (1-100)        59
Name: 63, dtype: object
CustomerID                  65
Genre                     Male
Age                         63
Annual Income (k$)          48
Spending Score (1-100)      51
Name: 64, dtype: object
CustomerID                    68
Genre                     Female
Age                           68
Annual Income (k$)            48
Spending Score (1-100)        48
Name: 67, dtype: object
CustomerID                  71
Genre                     Male
Age                         70
Annual Income (k$)          49
Spending Score (1-100)      55
Name: 70, dtype: object
CustomerID                    73
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        49
Name: 72, dtype: object
CustomerID                    74
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        56
Name: 73, dtype: object
CustomerID                  75
Genre                     Male
Age                         59
Annual Income (k$)          54
Spending Score (1-100)      47
Name: 74, dtype: object
CustomerID                  81
Genre                     Male
Age                         57
Annual Income (k$)          54
Spending Score (1-100)      51
Name: 80, dtype: object
CustomerID                  83
Genre                     Male
Age                         67
Annual Income (k$)          54
Spending Score (1-100)      41
Name: 82, dtype: object
CustomerID                    87
Genre                     Female
Age                           55
Annual Income (k$)            57
Spending Score (1-100)        58
Name: 86, dtype: object
CustomerID                    90
Genre                     Female
Age                           50
Annual Income (k$)            58
Spending Score (1-100)        46
Name: 89, dtype: object
CustomerID                    91
Genre                     Female
Age                           68
Annual Income (k$)            59
Spending Score (1-100)        55
Name: 90, dtype: object
CustomerID                 103
Genre                     Male
Age                         67
Annual Income (k$)          62
Spending Score (1-100)      59
Name: 102, dtype: object
CustomerID                   107
Genre                     Female
Age                           66
Annual Income (k$)            63
Spending Score (1-100)        50
Name: 106, dtype: object
CustomerID                 108
Genre                     Male
Age                         54
Annual Income (k$)          63
Spending Score (1-100)      46
Name: 107, dtype: object
CustomerID                 109
Genre                     Male
Age                         68
Annual Income (k$)          63
Spending Score (1-100)      43
Name: 108, dtype: object
CustomerID                 110
Genre                     Male
Age                         66
Annual Income (k$)          63
Spending Score (1-100)      48
Name: 109, dtype: object
CustomerID                 111
Genre                     Male
Age                         65
Annual Income (k$)          63
Spending Score (1-100)      52
Name: 110, dtype: object
CustomerID                   117
Genre                     Female
Age                           63
Annual Income (k$)            65
Spending Score (1-100)        43
Name: 116, dtype: object
CustomerID                   119
Genre                     Female
Age                           51
Annual Income (k$)            67
Spending Score (1-100)        43
Name: 118, dtype: object
CustomerID                   120
Genre                     Female
Age                           50
Annual Income (k$)            67
Spending Score (1-100)        57
Name: 119, dtype: object
CustomerID                 129
Genre                     Male
Age                         59
Annual Income (k$)          71
Spending Score (1-100)      11
Name: 128, dtype: object
CustomerID                   141
Genre                     Female
Age                           57
Annual Income (k$)            75
Spending Score (1-100)         5
Name: 140, dtype: object
CustomerID                   161
Genre                     Female
Age                           56
Annual Income (k$)            79
Spending Score (1-100)        35
Name: 160, dtype: object
CustomerID                 165
Genre                     Male
Age                         50
Annual Income (k$)          85
Spending Score (1-100)      26
Name: 164, dtype: object
CustomerID                   175
Genre                     Female
Age                           52
Annual Income (k$)            88
Spending Score (1-100)        13
Name: 174, dtype: object
CustomerID                 177
Genre                     Male
Age                         58
Annual Income (k$)          88
Spending Score (1-100)      15
Name: 176, dtype: object
CustomerID                 179
Genre                     Male
Age                         59
Annual Income (k$)          93
Spending Score (1-100)      14
Name: 178, dtype: object
CustomerID                   187
Genre                     Female
Age                           54
Annual Income (k$)           101
Spending Score (1-100)        24
Name: 186, dtype: object
CustomerID                   9
Genre                     Male
Age                         64
Annual Income (k$)          19
Spending Score (1-100)       3
Name: 8, dtype: object
CustomerID                  11
Genre                     Male
Age                         67
Annual Income (k$)          19
Spending Score (1-100)      14
Name: 10, dtype: object
CustomerID                    13
Genre                     Female
Age                           58
Annual Income (k$)            20
Spending Score (1-100)        15
Name: 12, dtype: object
CustomerID                  19
Genre                     Male
Age                         52
Annual Income (k$)          23
Spending Score (1-100)      29
Name: 18, dtype: object
CustomerID                    25
Genre                     Female
Age                           54
Annual Income (k$)            28
Spending Score (1-100)        14
Name: 24, dtype: object
CustomerID                  31
Genre                     Male
Age                         60
Annual Income (k$)          30
Spending Score (1-100)       4
Name: 30, dtype: object
CustomerID                  33
Genre                     Male
Age                         53
Annual Income (k$)          33
Spending Score (1-100)       4
Name: 32, dtype: object
CustomerID                    41
Genre                     Female
Age                           65
Annual Income (k$)            38
Spending Score (1-100)        35
Name: 40, dtype: object
CustomerID                    47
Genre                     Female
Age                           50
Annual Income (k$)            40
Spending Score (1-100)        55
Name: 46, dtype: object
CustomerID                  54
Genre                     Male
Age                         59
Annual Income (k$)          43
Spending Score (1-100)      60
Name: 53, dtype: object
CustomerID                    55
Genre                     Female
Age                           50
Annual Income (k$)            43
Spending Score (1-100)        45
Name: 54, dtype: object
CustomerID                    57
Genre                     Female
Age                           51
Annual Income (k$)            44
Spending Score (1-100)        50
Name: 56, dtype: object
CustomerID                  58
Genre                     Male
Age                         69
Annual Income (k$)          44
Spending Score (1-100)      46
Name: 57, dtype: object
CustomerID                  60
Genre                     Male
Age                         53
Annual Income (k$)          46
Spending Score (1-100)      46
Name: 59, dtype: object
CustomerID                  61
Genre                     Male
Age                         70
Annual Income (k$)          46
Spending Score (1-100)      56
Name: 60, dtype: object
CustomerID                    63
Genre                     Female
Age                           67
Annual Income (k$)            47
Spending Score (1-100)        52
Name: 62, dtype: object
CustomerID                    64
Genre                     Female
Age                           54
Annual Income (k$)            47
Spending Score (1-100)        59
Name: 63, dtype: object
CustomerID                  65
Genre                     Male
Age                         63
Annual Income (k$)          48
Spending Score (1-100)      51
Name: 64, dtype: object
CustomerID                    68
Genre                     Female
Age                           68
Annual Income (k$)            48
Spending Score (1-100)        48
Name: 67, dtype: object
CustomerID                  71
Genre                     Male
Age                         70
Annual Income (k$)          49
Spending Score (1-100)      55
Name: 70, dtype: object
CustomerID                    73
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        49
Name: 72, dtype: object
CustomerID                    74
Genre                     Female
Age                           60
Annual Income (k$)            50
Spending Score (1-100)        56
Name: 73, dtype: object
CustomerID                  75
Genre                     Male
Age                         59
Annual Income (k$)          54
Spending Score (1-100)      47
Name: 74, dtype: object
CustomerID                  81
Genre                     Male
Age                         57
Annual Income (k$)          54
Spending Score (1-100)      51
Name: 80, dtype: object
CustomerID                  83
Genre                     Male
Age                         67
Annual Income (k$)          54
Spending Score (1-100)      41
Name: 82, dtype: object
CustomerID                    87
Genre                     Female
Age                           55
Annual Income (k$)            57
Spending Score (1-100)        58
Name: 86, dtype: object
CustomerID                    90
Genre                     Female
Age                           50
Annual Income (k$)            58
Spending Score (1-100)        46
Name: 89, dtype: object
CustomerID                    91
Genre                     Female
Age                           68
Annual Income (k$)            59
Spending Score (1-100)        55
Name: 90, dtype: object
CustomerID                 103
Genre                     Male
Age                         67
Annual Income (k$)          62
Spending Score (1-100)      59
Name: 102, dtype: object
CustomerID                   107
Genre                     Female
Age                           66
Annual Income (k$)            63
Spending Score (1-100)        50
Name: 106, dtype: object
CustomerID                 108
Genre                     Male
Age                         54
Annual Income (k$)          63
Spending Score (1-100)      46
Name: 107, dtype: object
CustomerID                 109
Genre                     Male
Age                         68
Annual Income (k$)          63
Spending Score (1-100)      43
Name: 108, dtype: object
CustomerID                 110
Genre                     Male
Age                         66
Annual Income (k$)          63
Spending Score (1-100)      48
Name: 109, dtype: object
CustomerID                 111
Genre                     Male
Age                         65
Annual Income (k$)          63
Spending Score (1-100)      52
Name: 110, dtype: object
CustomerID                   117
Genre                     Female
Age                           63
Annual Income (k$)            65
Spending Score (1-100)        43
Name: 116, dtype: object
CustomerID                   119
Genre                     Female
Age                           51
Annual Income (k$)            67
Spending Score (1-100)        43
Name: 118, dtype: object
CustomerID                   120
Genre                     Female
Age                           50
Annual Income (k$)            67
Spending Score (1-100)        57
Name: 119, dtype: object
CustomerID                 129
Genre                     Male
Age                         59
Annual Income (k$)          71
Spending Score (1-100)      11
Name: 128, dtype: object
CustomerID                   141
Genre                     Female
Age                           57
Annual Income (k$)            75
Spending Score (1-100)         5
Name: 140, dtype: object
CustomerID                   161
Genre                     Female
Age                           56
Annual Income (k$)            79
Spending Score (1-100)        35
Name: 160, dtype: object
CustomerID                 165
Genre                     Male
Age                         50
Annual Income (k$)          85
Spending Score (1-100)      26
Name: 164, dtype: object
CustomerID                   175
Genre                     Female
Age                           52
Annual Income (k$)            88
Spending Score (1-100)        13
Name: 174, dtype: object
CustomerID                 177
Genre                     Male
Age                         58
Annual Income (k$)          88
Spending Score (1-100)      15
Name: 176, dtype: object
CustomerID                 179
Genre                     Male
Age                         59
Annual Income (k$)          93
Spending Score (1-100)      14
Name: 178, dtype: object
CustomerID                   187
Genre                     Female
Age                           54
Annual Income (k$)           101
Spending Score (1-100)        24
Name: 186, dtype: object
CustomerID                   9
Genre                     Male
Age                         64
Annual Income (k$)          19
Spending Score (1-100)       3
Name: 8, dtype: object
CustomerID                  11
Genre                     Male
Age                         67
Annual Income (k$)          19
Spending Score (1-100)      14
Name: 10, dtype: object
CustomerID                    13
Genre                     Female
Age                           58
Annual Income (k$)            20
Spending Score (1-100)        15
Name: 12, dtype: object
CustomerID                  19
Genre                     Male
Age                         52
Annual Income (k$)          23
Spending Score (1-100)      29
Name: 18, dtype: object
CustomerID                    25
Genre                     Female
Age                           54
Annual Income (k$)            28
Spending Score (1-100)        14
Name: 24, dtype: object
CustomerID                  31
Genre                     Male
Age                         60
Annual Income (k$)          30
Spending Score (1-100)       4
Name: 30, dtype: object
CustomerID                  33
Genre                     Male
Age                         53
Annual Income (k$)          33
Spending Score (1-100)       4
Name: 32, dtype: object
CustomerID                    41
Genre                     Female
Age                           65
Annual Income (k$)            38
Spending Score (1-100)        35
Name: 40, dtype: object
CustomerID                    47
Genre                     Female
Age                           50
Annual Income (k$)            40
Spending Score (1-100)        55
Name: 46, dtype: object
CustomerID                  54
Genre                     Male
Age                         59
Annual Income (k$)          43
Spending Score (1-100)      60
Name: 53, dtype: object
CustomerID                    55
Genre                     Female
Age                           50
Annual Income (k$)            43
Spending Score (1-100)        45
Name: 54, dtype: object
CustomerID                    57
Genre                     Female
Age                           51
Annual Income (k$)            44
Spending Score (1-100)        50
Name: 56, dtype: object
CustomerID                  58
Genre                     Male
Age                         69
Annual Income (k$)          44
Spending Score (1-100)      46
Name: 57, dtype: object
CustomerID                  60
Genre                     Male
Age                         53
Annual Income (k$)          46
Spending Score (1-100)      46
Name: 59, dtype: object
CustomerID                  61
Genre                     Male
Age                         70
Annual Income (k$)          46
Spending Score (1-100)      56
Name: 60, dtype: object
CustomerID                    63
Genre                     Female
Age                           67
Annual Income (k$)            47
Spending Score (1-100)        52
Name: 62, dtype: object
CustomerID                    64
Genre                     Female
Age                           54
Annual Income (k$)            47
Spending Score (1-100)        59
Name: 63, dtype: object
CustomerID                  65
Genre                     Male
Age                         63
Annual Income (k$)          48
Spending Score (1-100)      51
Name: 64, dtype: object
CustomerID                    68
Genre                     Female
Age                           68